<?xml version="1.0"?>
<configuration>
	<location path="App_Themes">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>

  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  
	<connectionStrings>
		<add name="microBlogConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<pages theme="Theme1" styleSheetTheme="Theme1"/>
		<authorization>
			<deny users="?"/>
		</authorization>
		<authentication mode="Forms"/>
		<compilation debug="true"/></system.web>
</configuration>
